.album-gallery {
	position: relative;
	display: inline-block;
	width: 700px;
	top: 50px;
	@include hcenter();
	z-index: 2;

	.hover {
		transition: opacity 0.3s;
	}

	&.listen .album {
		box-shadow: 5px 3px 2px -2px rgba(0, 0, 0, 0.3);

		.read {
			opacity: 0;
		}

		.listen {
			opacity: 1;
		}

		&.selected {
			opacity: 0;
		}
	}

	&.read .album {
		.listen {
			opacity: 0;
		}

		.read {
			opacity: 1;
		}

		&.selected {
			.hover {
				opacity: 1;
			}

			.normal {
				opacity: 0;
			}
		}

		&:not(.selected) {
			.normal {
				opacity: 1;
			}
		}

		.normal {
			transition: opacity 0.3s;
		}
		
		&:hover .hover {
			opacity: 1;
		}

		&:hover .normal {
			opacity: 0;
		}
	}

	.album {
		position: relative;
		width: 220px;
		height: 220px;
		float: left;
		margin: 0 10px;
		cursor: pointer;
		transition: transform 0.3s;
		transition: box-shadow 0.1s;

		.normal, .listen {
			position: relative;
			z-index: 1;
		}

		.hover, .read {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
		}
		
		&.selected {
			cursor: auto;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	@media(max-width: $phone) {
		width: 550px;
		top: 16px;

		&.read .album {
			&.selected {
				.hover {
					opacity: 1;
					z-index: 3;
				}

				.normal {
					opacity: 0;
				}

				&:hover .hover {
					opacity: 1;
				}
			}

			&:not(.selected) {
				.hover {
					opacity: 0;
				}

				.normal {
					opacity: 1;
				}
			}
			
			.hover .read {
				opacity: 1;
			}
			
			&:hover {
				.normal {
					opacity: auto;
				}

				.hover {
					opacity: auto;
				}
			}
		}

		.album {
			width: 170px;
			height: 170px;
		}

		&.listen .album {
			&.selected {
				box-shadow: 11px 8px 8px -2px rgba(0, 0, 0, 0.3);
			}
		}
	}

	@media(min-height: $largeScreen) {
		width: 865px;

		.album {
			width: 275px;
			height: 275px;
		}
	}
}