.body {
	position: relative;
	height: calc(100% - #{$headerHeight});
	width: calc(100% + 84px);
	margin-left: -42px;
	background: $loadingBackgroundColor;
	overflow: hidden;

	&.entered {
		overflow-y: scroll;
	}

	@media(max-width: $phone) {
		width: 100%;
		margin-left: 0;
		height: calc(100% - 65px);
	}
}