.body {
	position: relative;
	min-height: 100vh;
	height: inherit;
	overflow-y: visible;
	margin-left: 0;
	background: $loadingBackgroundColor;

	@media(max-width: $phone) {
		width: 100%;
		margin-left: 0;
	}
}