.header {
	position: relative;
	width: 100%;
	height: $headerHeight;
	background: #3aa7d0;

	img {
		@include center();
		z-index: 1;
		width: 470px;
	}

	.lit {
		opacity: 0;
	}

	&.loaded .lit {
		z-index: 2;
		animation-name: toggle;
		animation-duration: 20s;
		animation-iteration-count: infinite;
	}

	@media(max-width: $phone) {
		height: 65px;

		img {
			width: 250px;
		}
	}
}

@keyframes toggle {
	0% {
		opacity: 1;
	}

	59.99% {
		opacity: 1;
	}

	60% {
		opacity: 0;
	}

	60.10% {
		opacity: 1;
	}

	91.99% {
		opacity: 1;
	}

	92% {
		opacity: 0;
	}

	92.10% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}