.listen-section {
	position: relative !important;
	@include hcenter();
	width: 640px;
	margin-top: 340px;
	z-index: 1;

	.content {
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: transform 0.8s;
		transition-timing-function: ease-out;

		&.fade-in {
			transform: translateY(0px);
		}
	}

	@media(max-width: $phone) {
		width: 100%;
		margin-top: 280px;

		.work {
			.message {
				width: 330px;

				.message-inner {
					padding: 5px;
				}

				p {
					line-height: 20px;
				}
			}
		}
	}

	@media(min-height: 950px) {
		margin-top: 470px;
		width: 865px;
	}
}

.legal {
	color: white;
	display: none;
	text-align: center;
	margin-bottom: 30px;
}

.work {
	.title-container {
		position: relative;
		width: 100%;
		display: inline-block;
		padding: 0 90px;

		.tv-title, .radio-title {
			width: 50%;

			img {
				cursor: pointer;
			}
		}

		.tv-title {
			float: left;
		}

		.radio-title {
			float: right;
		}
	}

	.message {
		width: 600px;
		background-color: #f54800;
		margin: 0 auto;
		position: relative;

		.message-inner {
			padding: 12px;
		}

		.arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 10px;
			color: white;
			font-size: 9pt;
		}

		.arrow-left {
			left: 12px;
		}

		.arrow-right {
			right: 12px;
		}

		p {
			text-transform: uppercase;
			text-align: center;
			color: white;
			font-size: 9pt;
		}
	}
}