.listen-section {
	position: relative !important;
	@include hcenter();
	width: 640px;
	margin-top: 327px;
	z-index: 1;
	padding-bottom: 90px;

	.content {
		opacity: 0;
		visibility: hidden;
		transform: translateY(120px);
		transition: transform 1s;
		transition-timing-function: ease-out;

		&.fade-in {
			transform: translateY(0px);
		}
	}

	@media(max-width: $phone) {
		width: 100%;
		margin-top: 240px;
		-webkit-overflow-scrolling: touch;

		.content {
			transform: translateY(80px);
		}

		.work {
			.message {
				width: 330px;

				.message-inner {
					padding: 5px;
				}

				p {
					line-height: 20px;
				}
			}
		}
	}

	@media(max-width: $phone5) {
		width: 100%;
		margin-top: 240px;

		.content {
			transform: translateY(80px);
		}

		.work {
			.message {
				width: 330px;

				.message-inner {
					padding: 5px;
				}

				p {
					line-height: 20px;
				}
			}
		}
	}

	@media(min-width: $tablet + 1) and (min-height: $largeScreen)  {
		margin-top: 394px;
		width: 865px;
	}


.legal {
	color: black;
	visibility: hidden;
	text-align: center;
	margin-bottom: 30px;
	font-size: 0.8em;
}

.switch {
	width: 380px;
	margin-left: 50%;
	-webkit-transform:translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;

	.background {
		position: relative;
		box-shadow: 8px 14px 23px 1px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow:  8px 14px 23px 1px rgba(0, 0, 0, 0.5);
		-webkit-appearance: none;
	}

	.rail {
		position: absolute;
		width: 47.4%;
		height: 6px;
		left: 13.1%;
		top: 46%;
	}

	$indicatorWidth: 76px;
	.indicator {
		position: absolute;
		width: $indicatorWidth;
		z-index: 2;
		transform: translate(0, -38%);
		left: 50%;
		cursor: pointer;
		transition: left 0.3s, transform 0.3s;
	}

	&.left {
		.indicator {
			transform: translate(0%, -36%);
			left: 0;
		}
	}

	&.right {
		.indicator {
			transform: translate(0%, -36%);
			left: 100%;
		}
	}
	
	@media(max-width: $phone) {
		padding: 0 19px;
		margin-top: -10px;
		width: 338px;

		.rail {
			width: 42%;
			left: 16.9%;
		}

		.indicator {
			width: 62px;
			pointer-events: none;
		}
	}

	@media(max-width: $phone5) {
		padding: 0 19px;
		margin-top: -50px;
		width: 268px;

		.rail {
			width: 40.8%;
			left: 18.2%;
			top: 45%;
		}

		.indicator {
			width: 46px;
			pointer-events: none;
		}
	}

	@media (min-width: $tablet + 1) and (min-height: $largeScreen) {
		width: 482px;

		.rail {
			left: 14%;
			width: 47.3%
		}

		.indicator {
			width: 86px;
		}
	}
}

.work {
	.title-container {
		position: relative;
		width: 100%;
		display: inline-block;
		padding: 0 90px;

		.tv-title, .radio-title {
			width: 50%;

			img {
				cursor: pointer;
			}
		}

		.tv-title {
			float: left;
		}

		.radio-title {
			float: right;
		}
	}

	.message {
		width: 600px;
		background-color: #f54800;
		margin: 0 auto;
		position: relative;

		.message-inner {
			padding: 12px;
		}

		.arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 10px;
			color: white;
			font-size: 9pt;
		}

		.arrow-left {
			left: 12px;
		}

		.arrow-right {
			right: 12px;
		}

		p {
			text-transform: uppercase;
			text-align: center;
			color: white;
			font-size: 9pt;
		}
	}
}
}