.read-section {
	@include hcenter();
	width: 640px;
	top: 300px;
	line-height: 15pt;
	z-index: 1;

	.legal {
		color: #000;
	}

	.about {
		.message {
			width: 127px;
			background-color: #3bb8e0;
			position: relative;
			margin: 30px 0 15px 0;
	
			.message-inner {
				padding: 8px;
			}
	
			.arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 10px;
				color: white;
				font-size: 9pt;
			}
	
			.arrow-left {
				left: 12px;
			}
	
			.arrow-right {
				right: 12px;
			}
	
			p {
				text-transform: uppercase;
				text-align: center;
				color: white;
				font-size: 9pt;
			}
		}

		.cactus {
			position: relative;
			margin-top: 40px;
			left: 68%;
			width: 180px;
		}
	}

	.work {
		.orange {
			color: #f5571d;
		}
	}

	.contact {
		.map {
			position: relative;
			width: 80%;
			margin-left: 50%;
			transform: translateX(-50%);
			margin-bottom: 80px;
			margin-top: 20px;
	
			.foreground {
				position: absolute;
				top: -5px;
				left: 0;
				width: 100%;
				z-index: 4;
				pointer-events: none;
			}
	
			.middleground {
				position: absolute;
				width: 88%;
				left: 5%;
				top: 4%;
				transition: opacity 0.3s;
				z-index: 3;
			}
	
			.background {
				position: relative;
				width: 88%;
				margin-left: 5%;
				margin-top: 4%;
				z-index: 2;
			}
	
			iframe {
				pointer-events: auto;
			}
		}
	}

	.content {
		opacity: 0;
		display: none;
	}

	h4 {
		color: $orangeColor;
		line-height: 1.4em;
		text-transform: uppercase;
	}

	@media(min-height: 950px) {
		width: 865px;
		top: 380px;
	}

	@media(max-width: $phone) {
		top: 240px;
		width: 100%;
		padding: 0 30px 30px 30px;
	}
}