.read-toggle {
	position: fixed;
	right: -42px;
	top: 423px;
	width: 90px;
	height: 45px;
	border-radius: 5px;
	transform: rotate(-90deg);
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s opacity, 0.1s transform;

	button {
		height: 25px;
		position: absolute;
		width: inherit;
		color: #ffffff;
	}

	&.listen button.listen {
		opacity: 0;
	}

	&.listen, button.read {
		background: $loadingTextColor;
	}

	&.read, button.listen {
		background: #f24506;
	}

	&:hover {
		transform: rotate(-90deg) translateY(-5px);
	}

	@media(max-width: $phone) {
		right: -34px;
		top: 327px;

		button {
			height: 35px;
		}
	}
}