.read-section {
	@include hcenter();
	width: 640px;
	top: 300px;
	z-index: 1;

	.content {
		opacity: 0;
		display: none;
	}

	h4 {
		color: $orangeColor;
		line-height: 1.4em;
	}

	.contact {
		.map {
			position: relative;
			width: 80%;
			left: 50%;
			transform: translateX(-50%);
			margin: 40px 0 80px 0;

			.foreground {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 4;
				pointer-events: none;
			}

			.middleground {
				position: absolute;
				width: 93%;
				left: 4%;
				top: 4%;
				transition: opacity 0.3s;
				z-index: 3;
			}

			.background {
				position: relative;
				width: 92.5%;
				margin-left: 4%;
				margin-top: 4%;
				z-index: 2;
			}

			iframe {
				pointer-events: auto;
			}
		}
	}

	@media(min-height: 950px) {
		width: 865px;
		top: 380px;
	}

	@media(max-width: $phone) {
		top: 240px;
		width: 100%;
		padding: 0 30px 30px 30px;
	}
}