.read-section {
	@include hcenter();
	width: 640px;
	top: 300px;
	z-index: 1;

	.content {
		opacity: 0;
		display: none;
	}

	@media(min-height: 950px) {
		width: 865px;
		top: 380px;
	}

	@media(max-width: $phone) {
		top: 240px;
		width: 100%;
		padding: 0 30px 30px 30px;
	}
}