.record-player {
	position: relative !important;
	@include hcenter();
	width: 320px;
	top: 300px;
	z-index: 1;

	.background {
		box-shadow: 8px 14px 23px 1px rgba(0, 0, 0, 0.5);
	}

	.play-button {
		position: absolute;
		width: percentage(75 / 490);
		bottom: 18px;
		left: 16px;
		cursor: pointer;

		.stopped, .normal {
			position: absolute;
			left: 0;
			top: 0;
		}

		.playing, .hover {
			position: relative;
		}

		.stopped {
			z-index: 2;
		}

		.playing {
			z-index: 1;
		}

		.hover {
			z-index: 2;
			opacity: 0;
		}

		.normal {
			z-index: 1;
		}

		&:hover .hover {
			opacity: 1;
		}

		&:active{
			transform: translate(1px, 1px);
		}

		&.playing .stopped {
			opacity: 0;
		}
	}

	.record {
		position: absolute;
		width: 180px;
		left: 70px;
		top: 16px;
		z-index: 2;

		img {
			position: absolute;
			left: 0;
			opacity: 0;
		}

		img.spin {
			animation-name: spin;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		.show {
			opacity: 1;
		}

		img.paused {
			animation-play-state: paused;
		}
	}

	.needle {
		position: absolute;
		width: 91.6%;
		top: -96px;
		right: -104px;
		z-index: 5;

		&.active {
			animation-name: needlePlaying;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			animation-delay: 1s;
		}

		&.reverse {
			animation-name: needleStopped;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
	}

	@media(max-width: $phone) {
		width: 250px;
		top: 240px;

		.needle {
			top: -74px;
			right: -81px;
		}

		.play-button {
			bottom: 14px;
			left: 13px;
		}

		.record {
			width: 140px;
			left: 55px;
			top: 13px;
		}
	}

	@media(min-height: 950px) {
		width: 475px;
		top: 390px;

		.play-button {
			bottom: 27px;
			left: 23px;
		}

		.needle {
			top: -140px;
			right: -155px;
		}

		.record {
			width: 261px;
			left: 107px;
			top: 27px;
		}
	}
}

@keyframes needleStopped {
	0% {
		transform: rotate(20deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes needlePlaying {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(25deg)
	}
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}