.body {
	position: relative;
	height: calc(100% - #{$headerHeight});
	width: calc(100% + 84px);
	margin-left: -42px;
	background: $loadingBackgroundColor;
	overflow: hidden;
}

.body.entered {
	overflow-y: scroll;
}