.read-toggle {
	position: fixed;
	right: -42px;
	top: 70%;
	width: 90px;
	height: 45px;
	border-radius: 5px;
	transform: rotate(-90deg);
	z-index: 100;

	button {
		height: 25px;
		position: absolute;
		width: inherit;
		color: #ffffff;
	}

	&.read button.listen {
		opacity: 0;
	}

	&.read, button.read {
		transition: 1s opacity, 0.4s transform;
		background: $loadingTextColor;
	}

	&.listen, button.listen {
		background: #f24506;
	}

	&:hover {
		transform: rotate(-90deg) translateY(-5px);
	}
}